build/
*.ipr
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
forge/run/*
fabric/run/*
common/.gradle/
forge/.gradle/
fabric/.gradle/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

run/*

!run/addonpacks/
!run/addonpacks/*

run/mods/
